body{
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/stories-05.jpg);
      background-size:cover;
      display: flex;
}
.container{
    display: flex;
}
.left{
color: white;
 font-family: "Lobster", cursive;
 display: flex;
 align-items: center;
 justify-content: start;
 height: 150vh;
 padding-top: 220px;
}
.right{
    color: white;
    padding-left: 150px;
    padding-top: 70px;
}
span{
font-size: 40px;
font-weight: 600;
}
.span2{
    margin-right: 35px;
}
.two{
display: flex;
align-items: center;
    border: 1px solid white;
background-color: white;
color: black;
padding: 10px;
}
.two2{
    border: 1px solid white;
    display: flex;
align-items: center;
padding: 10px;
}
.amount{
    display: flex;
    justify-content: end;
}
.endd{
    border: 1px solid white;
}
.time{
    background-color: white;
    color: black;
padding-left: 90px;
padding-right: 90px;
}
.bttn{
display: flex;
justify-content: end;
margin-top: 30px;
}
.btn{
    width: 200px;
}
@media (max-width: 768px){
    body{
        flex-direction: column;
    }
.container{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.left{
color: white;
 font-family: "Lobster", cursive;
 flex-direction: column;
 text-align: center;
 height: auto;
 padding-top: 30px;
}
.right{
    color: white;
 justify-content: center;
}
span{
font-size: 30px;
font-weight: 600;
}
/* .span2{
    margin-right: 35px;
} */
.two{
flex-direction: column;
align-items: center;
    border: 1px solid white;
background-color: white;
color: black;
}
.two2{
    border: 1px solid white;
    flex-direction: column;
align-items: center;
}
.amount{
    display: flex;
    justify-content: start;
}
.endd{
    border: 1px solid white;
}
.time{
    background-color: white;
    color: black;
padding-left: 90px;
padding-right: 90px;
}
.bttn{
display: flex;
justify-content: end;
margin-top: 30px;
}
.btn{
    width: 200px;
}
}
